PORT=4000
MONGO_URI=mongodb://127.0.0.1:27017/scalable_ecommerce
JWT_SECRET=change-me
LOG_LEVEL=info
REDIS_URL=redis://127.0.0.1:6379
RABBITMQ_URL=amqp://guest:guest@127.0.0.1:5672
ELASTICSEARCH_NODE=http://127.0.0.1:9200
USE_STRIPE=false
STRIPE_SECRET_KEY=
AUTO_CAPTURE_PAYMENTS=true

CATALOG_SERVICE_URL=http://127.0.0.1:4001
CART_SERVICE_URL=http://127.0.0.1:4002
ORDER_SERVICE_URL=http://127.0.0.1:4003
PAYMENT_SERVICE_URL=http://127.0.0.1:4004
INVENTORY_SERVICE_URL=http://127.0.0.1:4005
USER_SERVICE_URL=http://127.0.0.1:4006